:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Colors */
  --main-color: #2e2f42;
  --main-color-hover: #404bbf;
  --secondary-color: #434455;
  --main-bg-btn-cl: #4d5ae5;
  --cloud-color: #f4f4fd;
  --white-color: #fff;

  --main-portfolio-filter-cl: #4d5ae5;
  --main-portfolio-filter-bg-cl: #e7e9fc;
  --accent-portfolio-filter-bg-cl: #404bbf;
}

body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: var(--main-font);
  color: var(--main-color);
}

.site-logo {
  text-decoration: none;
}

.link {
  color: var(--main-color);
  text-decoration: none;
}

.address .link {
  color: var(--secondary-color);
}

.button {
  color: var(--white-color);
  background-color: var(--main-bg-btn-cl);
  font-family: inherit;
}

.link:hover,
.link:focus {
  color: var(--main-color-hover);
}

.button:hover,
.button:focus {
  background-color: var(--main-color-hover);
}

.list {
  list-style: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.description {
  color: var(--secondary-color);
}

/* Hero sectin */

.hero {
  background-color: var(--main-color);
  color: var(--white-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

/* Our Team */
.team .item-title,
.team .description {
  text-align: center;
}

/* Address */

.address {
  font-style: normal;
}

.footer {
  color: var(--cloud-color);
  background-color: var(--main-color);
}

/* Portfolio */

.card {
  color: var(--main-color);
  text-decoration: none;
}

.filter-btn {
  color: var(--main-portfolio-filter-cl);
  background-color: var(--main-portfolio-filter-bg-cl);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-portfolio-filter-bg-cl);
}
